// we need to force the change of color
// also notice that `[style*=...]` selector does not promote the specificity
// we should not use `!important` on rules on unstyled name
@mixin name-color-manipulation($pattern, $color) {
  a.name {
    @if (str_length($pattern) > 0) {
      &[style*="#{$pattern}"] {
        color: $color !important;
        text-shadow: 0 0 3px rgba($color, .4);
      }
    } @else {
      color: $color;
      text-shadow: 0 0 3px rgba($color, .4);
    }
  }
}

@mixin new-message-highlight($n, $bg) {
  #timeline_cnt .plurk.plurk .plurk_cnt.new#{$n} {
    background: $bg;
  }
}
