// Dashboard -- Structure
#plurk-dashboard {
  .dash-group-left {
    // to have a consistent gut
    padding-right: 12px;
  }

  .dash-segment-friends, .dash-segment-fans {
    width: 49.08%;
  }

  .dash-segment-friends {
    // approximately 12px
    margin-right: 1.83%;
  }

  .dash-segment-award .segment-content {
    box-shadow: none;
  }

  // dashboard card title
  h2 {
    @extend %dashboard-card-title;
  }

  &.narrow .dash-group-left {
    // when viewport being narrow
    padding-right: 0;
  }

  /* Dashboard -- Profile */
  .nick_name, .profile-info {
    opacity: 1 !important;  /* what the hell opacity?! */
    color: #767676 !important;  /* 54% */
  }

  // Dashboard -- Profile
  .dash-segment-profile #dash-profile {
    // sorry for bad selector, but we are going to own the priority!
    height: 96px;  /* 80 + 16, originally 86 */
    padding: 8px;

    .profile-info {
      bottom: 8px;
    }

    img.profile-pic {
      width: 80px;
      height: 80px;
      border-radius: 80px;
      // transition: border-radius 400ms ease-in;
    }
  }
}

#full_name {
  color: #212121;  /* 87% */
  font-size: 18px;

  .display_name {
    color: #3f51b5;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .nick_name {
    font-size: 14px;
    @extend %use-decimal-fonts;
  }
}

.dash-segment .segment-content {
  @include material-shadow-polymer-2dp;
  transition: box-shadow 150ms $material-ease-out,
              background 150ms $material-ease-std,
              color      150ms $material-ease-std;
  border-radius: 4px;
  color: #444;
  background: rgba(250, 250, 250, .65);
  margin-top: 12px;
  padding: 8px;
}

#dash-additional-info,
#dash-stats,
#dash-friends,
#dash-fans {
  padding: 8px 8px 16px !important;
}

.dash-segment-profile [class~="segment-content"]:first-child {
  /* Plurk does not allow the string 'content$:' in CSS
     this make some selectors like 'segment-content$:hover'
     (without the dollar signs! it cannot appear even in comments)
     also violate the restriction, but we can't simply use a space
     or an empty comment to bypass it
     thanks @Helens89227 (on Plurk) for this workaround
     btw, it can also be written `:first-child.segment-content`
     it is not trivial and harder to understand though */
  // profile section
  background: rgba(250, 250, 250, .9);
}

.dash-segment [class~="segment-content"]:hover {
  color: #222;
  background: rgba(250, 250, 250, .8);
  @include material-shadow-polymer-4dp;
}

// Dashboard -- Composing area
#main_poster {
  .plurkForm {
    padding: 0;
  }
}

.plurk_to.private_to {
  // texts overlapped with Plurk button if it moved to the bottom
  // avoid by add a fixed margin
  margin-right: (80px + 8px);
  //             ^^^^ width of plurk button
}

%input-left-size-tweak {
  margin-left: 0 !important;
  padding-left: 4px !important;
}

#input_big {
  @extend %input-left-size-tweak;
  margin-top: 8px !important;
}

.m_qualifier {
  padding: 4px 8px;
}

.dd_img, .submit_img {
  transition: background 250ms ease-out;
}

#main_poster .submit_img {
  margin-top: 8px;
  border-radius: 4px;
  font-weight: 500;
  /* box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14)
              0 1px 18px 0 rgba(0, 0, 0, 0.12),
              0 3px 5px -1px rgba(0, 0, 0, 0.4);*/
  /* bonus: move the Plurk button to the bottom of the text area,
   * disable the box-shadow above to match the style             */
  position: absolute;
  bottom: 0;
  right: 0;
}

/* move the messages less the position of Plurk but
   disable this if you don't apply the bonus above */
#plurk_to, .whispers_hint {
  position: relative;
  right: 88px;
}

#main_poster .icons_holder {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  // TODO: to strengthen the icon
  // add a subtle radial-gradient background, for example
}

// Dashboard -- Additional info
#dash-additional-info:before {
  // a demostration using pseudo-element to add contents
  content: 'Profile';
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  @extend %dashboard-card-title;
  // override margin-bottom to create a comfortable space
  margin-bottom: 16px;
}

// Dashboard -- Stats
#profile_views,
#profile_views + th + td,
#plurks_count,
#response_count,
#join_date,
#last_visit {
  @extend %use-decimal-fonts;
}

// Dashboard -- Tweaks
#about_me {
  font-size: 1.05em;
  text-align: justify;
  line-height: 1.4;
  text-shadow: 1px 1px 3px rgba(white, .35);
}

#karma {
  color: white !important;
  // improved -- fine-grained shadow
  text-shadow:  1px  0   2px rgba(black, .3),
               -1px  0   2px rgba(black, .3),
                0    1px 2px rgba(black, .3),
                0   -1px 2px rgba(black, .3);
}

#karma_arrow {
  font-size: 18px;
}

// Dashboard -- Friend list / Fan list
#friend_holder,
#fan_holder {
  // the icons of friend must be in one line
  margin-left: -11px;
  margin-right: -11px;
  // XXX: preserve space without clearing float
  // overflow-x: hidden;
  // overflow-y: auto;
  overflow: visible;
}

#fan_holder span {
  // no fans QAQ message; giving back margins
  display: block;
  margin-left: 11px;
  margin-right: 11px;
}

.friend_man {
  padding: 8px 12px;
  border-radius: 2px;
  @include material-shadow-polymer-4dp;
  transition: box-shadow 250ms $material-ease-out,
              filter     250ms $material-ease-std;
}

.friend_man:hover {
  filter: brightness(1.4);
  @include material-shadow-polymer-8dp;
}

#dash-friends-pics .user_link,
#dash-fans-pics    .user_link {
  // mixins/_avatars
  @extend %avatar-circle;
  display: block;
  @extend %material-shadow-legacy-3-6;
}

// Dashboard -- Award bar specialization
#dash-award {
  .award_bar div {
    img {
      transition: filter 200ms $material-ease-out;
    }
    &:hover img {
      filter: brightness(1.2)
              drop-shadow(0 2px 4px rgba(0, 0, 0, .5));
    }
  }

  // hide "how to receive badge" link
  a.link_arrow.openGB {
    display: none;
  }
}

// Dashboard -- Be responsive! patch
.dash-segment-post,
.dash-segment-profile,
.dash-group-right {
  max-width: 100vw;
}
