// Hardcoded background settings for f*cking awkward background override

@if ($HACK-override-background) {
  ._lch_ {
    background: url(#{$HACK-override-background-image}) center center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
  }

  ._lc_:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 42px;
    background: $HACK-override-background-color;
    // to cover the glow of dynamic logo
    z-index: 11;
    // XXX: naive box-shadow
    box-shadow: 0 -2px 12px rgba(black, .7);
  }
}

// .unread_generic {
//   border-radius: 4px;
//   font-weight: 700;
//   text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
//   background-color: transparent;
// }

// #noti_np_count.unread_generic,
// #noti_re_count.unread_generic {
//   font-size: 125%;
//   color: #e91e63 !important;
//   text-shadow: 0 1px 2px rgba(233, 30, 99, .6);
//   padding-left: 8px;
// }

#UNSYNCED_MARKER_NSA_HERE { background: url(NSA_GO_AWAY); }

.OTHER{ background: url(http://example.com/?BELOW_IS_UNSYNCED_STYLES_USE_IT_AT_YOUR_OWN_RISK); }

.pif-arrow-right::before { left: 0 !important; }

@if ($HACK-hide-plurk-bones) {
  .pif-bone { display: none !important; }
}

// HACK! by using the class name _lch_ (which is strangly not being prepanding the class _lc_),
// we can actually style more elements than it seems to be!
// former elements, however, still can't be styled with this technique
._lch_ {
  @if ($HACK-lch-siblings) {
    // 1. the menu on the top-right
    ~ .pop-menu {
      @include material-shadow-polymer-6dp;
    }
    // 2. notification list (new in 2017/7)
    ~ #noti-list {

    }
    // 3. the overlay of light box
    ~ .pop-window-overlay {

    }
    // 4. the light box
    ~ .pop-window.colorbox {

    }
    // ad-hoc popups: qualifier selector, share options, etc.
    // note that these boxes don't have specific class name to be selected so be careful
    // playing around
    ~ .pop-view {
      .qual_menu {
        // lovely!
        column-count: 3;
        column-gap: 10px;
      }
    }
    // ad-hoc tooltips
    ~ .pop-view.pop-tooltip {

    }
    // ad-hoc emoji selector
    ~ #emoticon_selecter {

    }
    // ad-hoc privacy options
    ~ .pop-view.more_options_holder {

    }
  }
}
