// Hardcoded background settings for f*cking awkward background override

@if ($HACK-override-background) {
  ._lch_ {
    background: url(#{$HACK-override-background-image}) center center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
  }

  ._lc_:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 42px;
    background: $HACK-override-background-color;
    // XXX: naive box-shadow
    box-shadow: 0 -2px 12px rgba(black, .7);
  }
}

// .unread_generic {
//   border-radius: 4px;
//   font-weight: 700;
//   text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
//   background-color: transparent;
// }

// #noti_np_count.unread_generic,
// #noti_re_count.unread_generic {
//   font-size: 125%;
//   color: #e91e63 !important;
//   text-shadow: 0 1px 2px rgba(233, 30, 99, .6);
//   padding-left: 8px;
// }

#UNSYNCED_MARKER_NSA_HERE { background: url(NSA_GO_AWAY); }

.OTHER{ background: url(http://example.com/?BELOW_IS_UNSYNCED_STYLES_USE_IT_AT_YOUR_OWN_RISK); }

.pif-arrow-right::before { left: 0 !important; }

@if ($HACK-hide-plurk-bones) {
  .pif-bone { display: none !important; }
}
