// Responses
#form_holder {
  margin-top: 1px;

  // customed box-shadow; not remembering why
  @extend %material-shadow-legacy-3-6;

  .info_box.controller {
    border-radius: 0 0 4px 4px;
  }
  .response_box .list {
    transition: height 250ms $material-ease-out;
  }

  // use left border to highlight owner instead
  .highlight_owner .name {
    text-decoration: none;
  }
  .response_box .plurk_cnt {
    border-left: 3px solid #f1f1f1;
  }
  .highlight_owner .plurk_cnt {
    // Response -- Owner specialization
    border-left: 3px solid #bbb;
  }

  .response_box {
    .favorite_count, .replurk_count {
      // smaller than what spec says
      border-radius: 12px;
      padding: 0 6px;
      line-height: 24px;
    }
  }

  .perma_link a:after {
    // display yummy link!
    content: ' [' attr(href) ']';
  }
}


.plurk_cnt.response_time {
  transition: top 150ms $material-ease-out;
  .holder {
    padding: 0;
  }
}

// give the box the ability to be resized!!
.response_box {
  resize: vertical;
}

// Response -- Response time
// (new customizable area since Feb 17, 2016)
// NOTE: very hack!
.plurk_cnt.response_time {
  border-radius: 0 4px 4px 0;
  padding: 4px 8px 4px 0;
  // to make it looks like in the same depth with the form holder
  transform: translateX(6px);

  // the white shadow is used to cover the bridged part :3
  box-shadow: -6px 0 white,
              0 3px 6px rgba(0, 0, 0, 0.16),
              0 3px 6px rgba(0, 0, 0, 0.23);

  p {
    color: #555;
  }
}

// hide ads and add back the round corner
// %%%: not a realistic fix; use sparingly
#resp_banner_ads {
  display: none !important;
  // from the original style
  height: 0;
  margin-top: -3px;
}


// Composing area
#input_small {
  // input box
  @extend %input-left-size-tweak;
  margin-top: 4px !important;
}
