/* Switches - Plurk CSS
   ---------------------

   Main controls on the river are at the left-bottom corner of the timeline.

    - Filters: Filters out plurks of specific interest. It was designed as
               tabs before the theme change of Plurk.
    - Buttons: Some handy buttons that appears when new plurks or responses
               received. Shortcuts are available for these functionalities.

   Structure:

    div.timeline_control
      div#timeline_control_holder
        ul#filter_tab
          li > a#favorite_plurks_tab_btn   > (i.pif-... span)
          li > a#replurked_plurks_tab_btn  > (i.pif-... span)
          li > a#responded_plurks_tab_btn  > (i.pif-... span)
          li > a#private_plurks_tab_btn    > (i.pif-... span)
          li > a#own_plurks_tab_btn        > (i.pif-... span)
          li > a#all_plurks.bottom_line_bg > (i.pif-... span)
            // only this is shown and other is collapsed
    div#updater
      div#noti_np.item
        a
          i.pif-messeng-new
          span#noti_np_text
          span#noti_np_count.unread_generic
      div#noti_re.item
        div#noti_re_view.item
        div#noti_re_actions.item
          a#mark_all_link.updater_link > (i.pif-check span)
          a.updater_link > (i.pif-cancel span)

*/

// Timeline -- Icon width Unifying
#filter_tab {
  .pif-like,
  .pif-replurk,
  .pif-message,
  .pif-messages,
  .pif-message-my,
  .pif-message-private {
    @include icon-font-unify-width;
  }
}

// Timeline -- Loading
#unread_loader {
  color: white;
  text-shadow: 1px 1px rgba(black, .5);
  line-height: $timeline-button-height;
  height: $timeline-button-height;
  padding-left: 8px;
}

// Timeline -- Unread counter
.unread_generic {
  font-weight: 700;
}

#noti_np_count, #noti_re_count {
  &.unread_generic {
    @extend %use-decimal-fonts;

    display: inline-block;
    font-size: 1.2em;
    line-height: $timeline-button-height;
    color: white !important;
    padding: 0 8px;
    margin-right: -8px;
    border-radius: 0 $timeline-button-border-radius $timeline-button-border-radius 0;

    transition: background 250ms $material-ease-std;
    background: rgba(material-color('pink', 400), .8);
  }
}

#noti_np, #noti_re {
  a:hover .unread_generic {
    background: rgba(material-color('pink', 600), .8);
  }
}

// Timeline -- Switches (common)
#updater,
#updater .item a {
  // hopefully, 8px is default!
  // padding-left: 8px;
  // padding-right: 8px;
  height: $timeline-button-height !important;
}

// #filter_tab li,
#noti_np,
#noti_re_actions,
#noti_re_view {
  a {
    @include material-shadow-polymer-4dp;

    transition: box-shadow 250ms $material-ease-in,
                opacity    100ms $material-ease-std,
                color      100ms $material-ease-std,
                height     250ms $material-ease-std,
                margin     250ms $material-ease-std;

    text-align: left;
    border-radius: $timeline-button-border-radius;
    line-height: $timeline-button-height;

    &:hover {
      @include material-shadow-polymer-6dp;
    }
  }
}

// Timeline -- View state switches
#noti_np,
#noti_re_view {
  a {
    margin-left: 8px;

    // "update new messages" button; having different colors on hover
    &:hover {
      background: material-color('yellow', 50);
      color:      material-color('yellow', 900);
    }
  }
}

#noti_re #mark_all_link.updater_link {
  // "mark all as read" button
  background: material-color('green', 50);
  &:hover {
    background: material-color('green', 500);
  }
}

// Timeline -- Shortcuts
@if (enable-timeline-switch-shortcut) {
  // selectors are left intentially since they are awesome!
  #noti_np_text:after {
    // [U]pdate all
    content: ' [U]';
  }

  #noti_re #mark_all_link.updater_link span:after {
    // [M]ark all as read
    content: ' [M]';
  }

  #noti_re_text:after {
    // [V]iew all
    content: ' [V]';
  }

  #noti_re .updater_link .pif-cancel + span:after {
    content: ' [V]';
  }
}

#filter_tab {
  // XXX: naive
  $timeline-button-icon-height: $timeline-button-height - 8px;
  $timeline-button-icon-width: $timeline-button-icon-height * 1.5;

  .pif-like,
  .pif-replurk,
  .pif-message,
  .pif-messages,
  .pif-message-my,
  .pif-message-private {
    width: $timeline-button-icon-width;
    &:before {
      font-size: $timeline-button-icon-height;
      line-height: $timeline-button-icon-height;
    }
  }

  li {
    // make buttons span horizontally
    clear: none;
    width: auto;

    a {
      $button-padding-h: 4px;
      $button-padding-v: 4px;

      padding: $button-padding-v $button-padding-h;
      background: transparent;
      width: $timeline-button-icon-width + $button-padding-h * 2;
      height: ($timeline-button-icon-height + $button-padding-v * 2) !important;
      text-align: left;
      overflow: hidden;
      position: relative;

      text-shadow: 1px 1px 2px rgba(black, .6);
      transition: all 150ms $material-ease-std;
      transition-property: color, text-shadow, opacity;

      .unread_generic {
        position: absolute;
        right: 0;
        top: 0;
        // need to reset the "real" line-height here
        line-height: 1;
      }

      // inactive
      opacity: .3;
      &.has_unread {
        opacity: .6;
        color: material-color('yellow', 200);
      }
      &:hover, &:focus { opacity: .8; }
      &.filter_selected { opacity: 1; }

      // because the layout is now horizontal
      margin-top: 0 !important;
      margin-right: 0;

      // hide the text if possible
      i { font-size: 0; }
    }
  }
}
