/* Timeline - Plurk CSS
   ---------------------

   The main structure of Plurk is the timeline (aka river).
   The day separators are wrapped with plurks, while the time indicators are
   wrapped with backgrounds. The overall structure is complicated (honestly,
   messy) but various difficulities can still be overcome.

   Structure:

   #timeline_holder
     #timeline_cnt
       div.block_cnt * n  // WIP
     #timeline_bg
       div#bottom_line
       div.block_bg.day_start * n
         div.div_one_line ... // WIP
     #dynamic_logo

*/

// Timeline -- Structure
#timeline_holder {
  @include material-shadow-polymer-4dp;
  // background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/school.png);
  // background: url(http://res.cloudinary.com/qbane/image/upload/v1454758953/food-alpha_jhwbn6.pnsg);

  background-image: url(https://i.imgur.com/OBFJrTi.png);
  background-color: rgba(#00161C, .2);

  max-height: 75vh !important;
}

#bottom_line {
  @if ($enable-timeline-bottom-gredient) {
    // fancy timeline gradient to create depth effect
    height: 36px;
    background: linear-gradient(0deg, rgba(black, 0.3), transparent);
  } @else {
    // just a plain old line
    height: 1px;
    background: rgba(black, .2);
  }
}

// Timeline -- Bottom time indicator
.bottom_start, .bottom_end {
  // regular timestamps
  @extend %use-decimal-fonts;
  font-size: .8em;
  background: rgba(white, .9);
  padding: 0 4px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(black, .3);
}

.day_start .bottom_start {
  // marker for a day
  @extend %use-decimal-fonts;
  font-size: 1.1em;
  letter-spacing: 2px;
  padding: 0 8px;
  background: rgba(white, .9);
  color: #888;
  font-weight: 500;

  @if ($enable-timestamp-icons) {
    // tag icon
    @include icon-font-plurk('\f040');
    &:before {
      font-size: .9em;
      margin-right: 4px;
    }
  }
}

#time_show {
  // timestamp for selected post
  @extend %use-decimal-fonts;
  font-size: 1em;

  $paddingH: 4px;
  $paddingV: 8px;

  box-shadow: 0px 0px 6px rgba(black, .7);

  padding: $paddingH $paddingV;

  @if ($enable-timestamp-transitions) {
    // always show to apply animations
    display: block !important;
    pointer-events: none;
    opacity: 0.01;
    transition: all 150ms $material-ease-out;
    transition-property: top, left, opacity;

    &.show {
      opacity: 1;
    }
  }

  @if ($enable-timestamp-icons) {
    // up-arrow icon
    transform: translateY(-$paddingH);
    @include icon-font-plurk('\f007');
    &:before {
      font-size: .7em;
      color: white;
      margin-right: 4px;
    }
  }
}

// Timeline -- Response count
.plurk {
  // normal state
  .response_count {
    @extend %use-decimal-fonts;
    // font-family: 'Roboto Mono', Menlo, 'Droid Mono', monospace;
    text-align: center;
    display: inline-block;

    min-width: 20px;
    padding: 2px 4px;
    border-radius: 4px;
    background: rgba(material-color('blue', 50), 0.7);
    color: material-color('blue', 600);
    box-shadow: 1px 0 2px rgba(black, .25);

    // for the shadow to be BELOW the main post box when expanded
    position: relative;

    // originally detached from the plurk box
    // attached when opening (-> display state)
    transform: translateX(8px);

    transition: all 250ms $material-ease-std;
    transition-property: transform, color, border-radius, background, box-shadow;
   }

  &.new .response_count {
    color: white;
    background: material-color('red');
    box-shadow: 1px 0 4px 1px rgba(material-color('red'), .55);
  }

  // display state
  &.display.plurk_box {
    .response_count {
      // attached to the plurk box
      // remove rounded corners of the side that are being glued onto it
      transform: translateX(0);
      border-radius: 0 4px 4px 0;
      background: rgba(material-color('blue', 50), 0.9);
      box-shadow: 2px 0 6px 4px rgba(material-color('blue', 600), .75);

      // to hide the shadow from the box
      z-index: -1;
    }

    &.new .response_count {
      background: material-color('red');
      box-shadow: 2px 0 6px 4px rgba(material-color('red'), .75);
    }
  }
}

// Timeline -- Arrows
.browse_button {
  // control the buttons manually
  opacity: 1;

  .cmp_arrow_left, .cmp_arrow_right {
    background: #607d8b;
    border-radius: 28px;
    width: 56px;
    height: 56px;

    &:hover {
      background: #546e7a;
      box-shadow: 0 8px 9px -5px rgba(black, .2),
                  0 15px 22px 2px rgba(black, .14),
                  0 6px 28px 5px rgba(black, .12);
    }

    &:active {
      background: #37474f;
      box-shadow: 0 9px 11px -5px rgba(black, .2),
                  0 18px 28px 2px rgba(black, .14),
                  0 7px 34px 6px rgba(black, .12);
    }

    &:before {
      font-size: 20px;
      padding: 18px;
      color: white;
    }
  }

  // XXX
  .cmp_back_to_today {
    font-size: 10px;
    background: #b0bec5;
    font-family: Lato, Roboto, sans-serif;
    text-transform: uppercase;

    &:before {
      color: #b0bec5;
    }
  }

  .cmp_arrow_left,
  .cmp_arrow_right,
  .cmp_back_to_today {
    transition: background 250ms $material-ease-std,
                box-shadow 250ms $material-ease-out;
    box-shadow: 0 7px 8px -4px rgba(black, .2),
                0 13px 19px 2px rgba(black, .14),
                0 5px 24px 4px rgba(black, .12);
  }

}

// Timeline -- Name color manipulation
a.name[style] { text-shadow: none; }  // patch for the unspecified at first
@include name-color-manipulation('',        #37474f);  // unsp
@include name-color-manipulation('rgb(228', #e91e63);  // red
@include name-color-manipulation('rgb(34',  #03a9f4);  // blue
@include name-color-manipulation('rgb(10',  #009688);  // green
@include name-color-manipulation('rgb(174', #9c27b0);  // anony
// TODO: more colors...

// Timeline -- Creature
#creature {
  // box-shadow: 0px 0px 45px 10px rgba(255,255,255,.9);
  // background: rgba(255,255,255,.65);
  filter: drop-shadow(0 0  5px rgba(white, .4))
          drop-shadow(0 0 25px rgba(white, .6))
          drop-shadow(0 0 45px rgba(white, .9));
}
