// TODO: draft

// ---------- Features ----------
$enable-timeline-switch-shortcut: true;
$enable-timestamp-transitions: true;
$enable-timestamp-icons: true;

// ---------- Fonts ----------
$fonts-monospace: 'Ubuntu Mono', Menlo, Monaco, Inconsolata, monospace;
$fonts-textarea: 'Source Han Sans', 'Source Han Sans TC', 'Noto Sans CJK', 'PingFang TC', 'Microsoft JhengHei', sans-serif;
$fonts-decimal: 'Open Sans', 'Segoe UI', 'Source Sans Pro', 'Trebuchet MS', sans-serif;

// ---------- Metrics ----------
$timeline-button-height: 28px;
