// TODO: draft

// ---------- Features ----------
//
// some feature that IMO are optional.
// some people may not like them, so they are designed to be modular (as possible)
// that way you can turn something off easily
//
$enable-timeline-switch-shortcut: true;
$enable-timestamp-transitions: true;
$enable-timestamp-icons: true;
$enable-timeline-bottom-gredient: true;
$enable-post-name-shadow: true;
$enable-post-name-override: true;
$enable-hide-how-links: true;

// ---------- HACKS ----------
$HACK-plurk-content-shrinks-when-opened: false;  // not recommend; though it's cool
$HACK-hide-plurk-bones: true;
$HACK-override-background: true;
$HACK-override-background-image: '/static/theme/cold2015-theme/cold2015-bg.jpg';
$HACK-override-background-color: #6696C4;  // usually the bar color; actual color will be (bg + bar) / 2

// ---------- Fonts ----------
$fonts-monospace: 'Ubuntu Mono', Menlo, Monaco, Inconsolata, monospace;
$fonts-textarea: 'Source Han Sans', 'Source Han Sans TC', 'Noto Sans CJK', 'PingFang TC', 'Microsoft JhengHei', sans-serif;
$fonts-decimal: 'Open Sans', 'Segoe UI', 'Source Sans Pro', 'Trebuchet MS', sans-serif;

// ---------- Metrics ----------
$timeline-button-height: 28px;
$timeline-button-border-radius: 4px;
$qualifier-height-in-em: 1.5em;
